<div class="row">
    <div class="small-offset-3 small-6 columns">
        <form>
            <div id="payment-form"></div>
        </form>
    </div>
</div>
<div class="row">
    <div class="small-2">
        <button class="button" id="checkoutGoBackButton">Go Back</button>
    </div>
</div>