<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <form action="/" id="payment-form">
            <div class="row form-group">
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="firstName" placeholder="Last Name" maxlength="255" required>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="lastName" placeholder="First Name" maxlength="255" required>
                </div>
                <div class="col-xs-6">
                    <input type="email" class="form-control" id="email" placeholder="Email" maxlength="255" required>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-5">
                    <input type="text" class="form-control" id="address" placeholder="Address" required>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="city" placeholder="City" required>
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" id="state" placeholder="State" maxlength="2" required>
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" id="zip" placeholder="ZIP" maxlength="5" required>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-6">
                    <div class="form-control" id="card-number"></div>
                </div>

                <div class="col-xs-3">
                    <div class="form-control" id="cvv"></div>
                </div>

                <div class="col-xs-3">
                    <div class="form-control" id="expiration-date"></div>
                </div>
            </div>

            <input class="btn btn-primary pull-right" type="submit" value="Purchase">
        </form>
    </div>
</div>
<div class="row pre-footer">
    <div class="col-xs-2">
        <button class="btn btn-default" id="checkoutGoBackButton">Go Back</button>
    </div>
    <div class="col-xs-offset-7 col-xs-2" id="secure-lock"></div>
</div>