<div class="row">
    <div class="col-xs-offset-2 col-xs-8 well">
        <div class="col-xs-4">
            <img src="http://www.woodstocktheatre.org/wp-content/uploads/2016/01/Into-the-Woods.jpg" width="100%">
        </div>
        <div class="col-xs-4">
            <h4>Into the Woods</h4>
            <h5>Saturday, April 16, 7:00pm</h5>
        </div>
        <div class="col-xs-4">
            <p>Number of Tickets: <b><%- numberOfSeats %></b></p>
            <p>Total Price: <b>$<%- numberOfSeats * 5 %>.00</b></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-xs-8 well">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <form action="/api/v1/checkout" method="post" id="payment-form" class="hidden">
            <div class="row">
                <button id="secure-popover-text" href="#" class="btn btn-link pull-right" type="button">
                    <small><span class="glyphicon glyphicon-lock"></span> Your information is secure.</small>
                </button>
            </div>

            <div class="row form-group">
                <div class="col-xs-3">
                    <input type="text" class="form-control" name="firstName" placeholder="First Name" maxlength="255"
                           required>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" name="lastName" placeholder="Last Name" maxlength="255"
                           required>
                </div>
                <div class="col-xs-3">
                    <input type="email" class="form-control" name="email" placeholder="Email" maxlength="255" required>
                </div>
                <div class="col-xs-3">
                    <input type="tel" class="form-control" name="phone" placeholder="Phone" maxlength="25" required>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="address" placeholder="Address" required>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" name="city" placeholder="City" required>
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" name="state" placeholder="State" maxlength="2" required>
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" name="zip" placeholder="ZIP" maxlength="5" required>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-offset-2 col-xs-8">
                    <div class="col-xs-6">
                        <div class="form-control" id="card-number"></div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-control" id="cvv"></div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-control" id="expiration-date"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-10 col-xs-2">
                    <input class="btn btn-primary pull-right" type="submit" value="Purchase">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row pre-footer">
    <div class="col-xs-2">
        <button class="btn btn-default" id="checkoutGoBackButton">Go Back</button>
    </div>
</div>