<div class="row" id="stage-box">
    <h1>Stage</h1>
</div>

<div class="row" id="seat-maps">
    <div id="leftSeatMap"></div>
</div>

<div class="row">
    <div class="col-xs-2">
        <button class="btn btn-default" id="seats-goback-button">Go Back</button>
    </div>

    <div class="col-xs-offset-5 col-xs-4" id="selected-number">
        <h4><span id="seat-number">0</span> seats selected</h4>
    </div>

    <div class="col-xs-1">
        <button class="btn btn-primary" id="checkout-button" data-content="Please select your seats first." data-placement="top">Checkout</button>
    </div>
</div>