<div class="row">
    <div class="col-xs-2">
        <img src="<%- show.logourl %>" width="100%">
        <h3><%- show.name %></h3>
        <h4><%- (time.getMonth() + 1) + '/'
            + time.getDate() + '/'
            + time.getFullYear() + ' '
            + ((time.getHours() + 24) % 12 || 12) + ':'
            + ('0' + time.getMinutes()).slice(-2)
            + ((time.getHours() >= 12) ? "PM" : "AM") %></h4>

        <form>
            <div class="form-group">
                <label for="adultTickets">Adults</label>
                <input type="number" class="form-control" id="adultTickets" value="0" min="0" max="30" maxlength="2" required>
            </div>
            <div class="form-group">
                <label for="studentTickets">Students <a href="#" id="student-info-button"><span class="glyphicon glyphicon-info-sign"></span></a></label>
                <input type="number" class="form-control" id="studentTickets" value="0" min="0" max="30" maxlength="2" required>
            </div>
        </form>
    </div>

    <div class="col-xs-10 well">
        <div id="stage-box" class="row">
            <h1>Stage</h1>
        </div>

        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>

        <div class="row hidden" id="seat-map"></div>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <button class="btn btn-default" id="seats-goback-button">Go Back</button>
    </div>

    <div class="col-xs-offset-5 col-xs-4" id="selected-number">
        <h4><span id="seat-number">0</span> seats selected</h4>
    </div>

    <div class="col-xs-1">
        <button class="btn btn-primary" id="checkout-button">Checkout</button>
    </div>
</div>