<div class="row" id="seatMaps">
    <div class="col-md-6">
        <div id="leftSeatMap"></div>
    </div>
    <div class="col-md-6">
        <div id="rightSeatMap"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-8 col-md-2" id="numberSelected">
        <h4><span id="seatnumber">0</span> seats selected</h4>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" id="checkoutButton" data-content="Please select your seats first." data-placement="top">Checkout</button>
    </div>
</div>