        <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/ejs.min.js"></script>
        <script src="/js/jquery.seat-charts.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/braintree.js"></script>
        <script src="/js/tickets.js"></script>
    </body>
</html>