<%- include('header') %>
<div class="row">
    <div class="small-6 columns">
        <nav role="navigation">
            <ul class="breadcrumbs">
                <li>Select Seats</li>
                <li class="disabled">Checkout</li>
                <li class="disabled">Print Tickets</li>
            </ul>
        </nav>
    </div>
    <div class="small-2 columns">
        <a href="https://forsyththeatre.com" class="button secondary float-right">Back to Home</a>
    </div>
</div>
<div id="content">
    <%- include('pages/seatselection') %>
</div>
<script>
    $(document).ready(function() {
        window.templates = <%- JSON.stringify(templates) %>;
    });
</script>
<%- include('footer') %>