<%- include('header') %>
<row centered>
    <column cols="6">
        <div class="group">
            <ul class="breadcrumb">
                <li><a class="bold">Ticket Selection</a></li>
                <li><a>Seat Selection</a></li>
                <li><a>Confirmation</a></li>
                <li><span>Print Tickets</span></li>
            </ul>
            <!--<button class="btn btn-round btn-small btn-white small right"
                    onclick="location.href='http://forsyththeater.x10.mx'">Back to Home
            </button>-->
        </div>
    </column>
</row>
<%- include('pages/ticketselection') %>
<%- include('footer') %>
