<%- include('header') %>
<div class="units-container">
    <div class="units-row units-padding">
        <div class="unit-80 unit-push-10">
            <header class="group">
                <nav class="breadcrumbs left">
                    <ul>
                        <li><span class="bold">Ticket Selection</span></li>
                        <li><span>Seat Selection</span></li>
                        <li><span>Confirmation</span></li>
                        <li><span>Print Tickets</span></li>
                    </ul>
                </nav>
                <button class="btn btn-round btn-small btn-white small right"
                        onclick="location.href='http://forsyththeater.x10.mx'">Back to Home
                </button>
            </header>
        </div>
    </div>
</div>
<%- include('pages/ticketselection') %>
<%- include('footer') %>
