<%- include header.ejs %>
<div class="row">
    <div class="col-md-offset-2 col-md-3">
            <ol class="breadcrumb">
                <li>Select Seats</li>
                <li class="active">Checkout</li>
                <li class="active">Print Tickets</li>
            </ol>
    </div>
    <div class="col-md-offset-3 col-md-2">
        <a href="https://forsyththeatre.com" class="btn btn-default">Back to Home</a>
    </div>
</div>
<div class="container" id="content">
    <%- include partials/seatselection.ejs %>
</div>
<%- include footer.ejs %>