<%- include('header') %>
<div class="row">
    <div class="small-6 columns">
        <nav role="navigation">
            <ul class="breadcrumbs">
                <li>Seat Selection</li>
                <li class="disabled">Confirmation</li>
                <li class="disabled">Print Tickets</li>
            </ul>
        </nav>
    </div>
    <div class="small-2 columns">
        <a href="https://forsyththeatre.com" class="button secondary float-right">Back to Home</a>
    </div>
</div>
<%- include('pages/seatselection') %>
<%- include('footer') %>
