body {
    padding-top: 1em;
    padding-bottom: 1em;
}

#seat-maps {
    min-width: 1150px;
    overflow: hidden;
}

div.seatCharts-cell {
    height: 1.6em;
    width: 1.6em;
    line-height: 1.6em;
}

div.seatCharts-seat.selected {
    background-color: blue;

}
#numberSelected {
    text-align: right;
}

.breadcrumb {
    background: transparent;
}

.pre-footer {
    margin-top: 10px;
}

#secure-lock {
    width: 250px;
    height: 75px;
    background: url("/img/secure-lock.png") no-repeat;
}

#stage-box {
    width: 1150px;
    height: 80px;
    border: 15px solid;
    border-top: 10px;
    border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 90px 90px;
    margin-bottom: 20px;
    margin-left: 5px;
}

#stage-box h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    vertical-align: middle;
}

#secure-popover {
    width: 100px;
}

.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.braintree-hosted-fields-focused {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.braintree-hosted-fields-valid {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.braintree-hosted-fields-valid.braintree-hosted-fields-focused {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.braintree-hosted-fields-invalid {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.braintree-hosted-fields-invalid.braintree-hosted-fields-focused {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}