body {
    padding-top: 1em;
    padding-bottom: 1em;
}

#seatMaps {
    min-width: 1200px;
    overflow: hidden;
}

div.seatCharts-cell {
    height: 1.6em;
    width: 1.6em;
    line-height: 1.6em;
}

div.seatCharts-seat.selected {
    background-color: blue;
}

#numberSelected {
    text-align: right;
}

.breadcrumb {
    background: transparent;
}