<div class="row" id="seatMaps">
    <div class="small-6 columns">
        <div id="leftSeatMap"></div>
    </div>
    <div class="small-6 columns">
        <div id="rightSeatMap"></div>
    </div>
</div>
<div class="row">
    <div class="small-offset-10 small-2 columns">
        <button class="button float-right" id="selectSeatsButton">Purchase Tickets</button>
    </div>
</div>