<div class="unit-80 unit-push-10" id="ticketselection">
    <table class="table-bordered table-hovered">
        <thead>
        <tr>
            <th class="width-90">Ticket Type</th>
            <th class="width-10">Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label for="frontrownumber">Front Row Seats</label></td>
            <td><input type="number" id="frontrownumber" value="0"></td>
        </tr>
        <tr>
            <td><label for="generalnumber">General Admission</label></td>
            <td><input type="number" id="generalnumber" value="0"></td>
        </tr>
        </tbody>
    </table>
    <button class="btn right" id="selectSeatsButton">Select Seats</button>
</div>