<div class="row">
    <div class="small-12 columns" id="ticketselection">
        <table>
            <thead>
                <tr>
                    <th width="900">Ticket Type</th>
                    <th width="30">Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label for="frontrownumber">Front Row Seats</label></td>
                    <td><input type="number" id="frontrownumber" value="0"></td>
                </tr>
                <tr>
                    <td><label for="generalnumber">General Admission</label></td>
                    <td><input type="number" id="generalnumber" value="0"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="small-offset-10 small-2 columns">
        <button class="button" id="selectSeatsButton">Select Seats</button>
    </div>
</div>